<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Accesso</title>
    <script>window.onload=function(){
        if(sessionStorage.getItem('codiPartida')){
            console.log("Ja existeix una sessio");
        }else{
            var codiptemp=document.getElementById('codiPartida').innerText;
            sessionStorage.setItem('codiPartida',codiptemp);
        }
    };
    </script>
</head>
<body style="background: url('https://wallpaperaccess.com/full/1486772.jpg')" >
<p id="codiPartida" th:text="${codiPartida}"></p>
<form>
    <div class="form-row">
        <label for="usuario" class="sr-only">Jugador:</label>
        <input type="text" id="usuario" name="nomJugador" readonly class="form-control-plaintext" th:value="*{nomJugador}">
        <label for="codiPartida2" class="sr-only">Codi Partida:</label>
        <input type="text" id="codiPartida2" name="codiPartida" readonly class="form-control-plaintext" th:value="*{codiPartida}">
        <div class="col">
            <h1>BARCO NIVEL1</h1>
            <input type="text" class="form-control" name="b1p1"placeholder="example (A1)">
        </div>
        <div class="col">
            <h1>BARCO NIVEL2</h1>
            <input type="text" class="form-control" name="b2p1"placeholder="example (A1)">
            <input type="text" class="form-control" name="b2p2"placeholder="example (A1)">
        </div>
        <div class="col">
            <h1>BARCO NIVEL3</h1>
            <input type="text" class="form-control" name="b3p1"placeholder="example (A1)">
            <input type="text" class="form-control" name="b3p2"placeholder="example (A1)">
            <input type="text" class="form-control" name="b3p3"placeholder="example (A1)">
        </div>
        <div class="col">
            <h1>BARCO NIVEL4</h1>
            <input type="text" class="form-control" name="b4p1"placeholder="example (A1)">
            <input type="text" class="form-control" name="b4p2"placeholder="example (A1)">
            <input type="text" class="form-control" name="b4p3"placeholder="example (A1)">
            <input type="text" class="form-control" name="b4p4"placeholder="example (A1)">
        </div>
        <div class="col">
            <h1>BARCO NIVEL5</h1>
            <input type="text" class="form-control" name="b5p1"placeholder="example (A1)">
            <input type="text" class="form-control" name="b5p2"placeholder="example (A1)">
            <input type="text" class="form-control" name="b5p3"placeholder="example (A1)">
            <input type="text" class="form-control" name="b5p4"placeholder="example (A1)">
            <input type="text" class="form-control" name="b5p5"placeholder="example (A1)">
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>
</body>
</html>